@font-face {
  font-family: 'Font';
  src: url('../fonts/Font.woff2') format('woff2'),
       url('../fonts/Font.woff') format('woff'),
       url('../fonts/Font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
